/* CSS Document */
@font-face {
    font-display: swap;
    font-family: OpenSans;
    src: url('../fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
input[id*="checker"] {display: none;}
            .elastic_video {
                height: 0;
                padding-top: 55%;
                padding-bottom: 15px;
                position: relative;
                background: orange;
            }
            .elastic_video iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

/* kleines Fenster bis 1200px -----------------------------------------------*/
@media (max-width: 1200px) {
    html {
        font: 1rem OpenSans, sans-serif;
        font-variation-settings: 'wght'300, 'wdth'95;
        scroll-behavior: smooth;
    }
    h1, h2, h3 {
        font-size: 2rem;
        font-variation-settings: 'wght'721, 'wdth'95; /* {}  ||  []  @ */
    }
    p {
        color: #777;
        line-height: 1.5rem;
    }
    .header {
        min-height: 70vh;
        width: auto;
        background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("../img/1.png");
        background-position: center;
        background-size: cover;
        position: relative;
    }
    .unterseite .header {
        min-height: 400px;
    }
    /* navi ------------------*/
    #burger {
        width: 48px;
        height: 48px;
        background: rgba(244,67,54,0.8);
        position: absolute;
        left: -48px;
        top: 0;
        border-radius: 0 0 0 8px;
        box-shadow: -1px 0px 2px rgba(255,255,255,1)
    }
    #burger::before {
        content: "+";
        font-size: 2rem;
        text-align: center;
        display: block;
        color: #fff;
        transition: 0.5s 0.5s;
    }
    #navchecker:checked ~ .nav-links #burger::before {
        transform: rotate(45deg)
    }
    .nav-links {
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 100;
        transition: 0.5s;
    }
    #navchecker:checked ~ .nav-links {
        right: 0;
    }
/*
    .nav-links ul li {
        display: block;
    }
*/
    nav .fa {
        display: block;
        justify-content: center;
        color: #fff;
        margin: 100px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;
        list-style: none;
    }
    .nav-links a {
        text-decoration: none;
        line-height: 48px;
        color: #fff
    }
    
    main > section {
        padding: 5% 2%;
    }
    #footer {
        background: rgba(41, 60, 87, 1.00);
        text-align: center;
        padding: 2%;
    }
    #footer p {
        color: #fff;
    }
    .text-box {
        width: 90%;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -40%);
        text-align: center;
    }
    .text-box p {
        margin: 10px 0 40px;
        font-size: 1rem;
        color: #fff;
    }
    .hero-btn {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        border: 1px solid #fff;
        padding: 12px 34px;
        font-size: 13px;
        background: transparent;
        position: relative;
        cursor: pointer;
    }
    .hero-btn:hover {
        border: 1px solid #f44336;
        background: #f44336;
        transition: 1s;
    }
    nav.fa {
        display: none;
    }
    .superspalter gap2 {
        width: 80%;
        margin: auto;
        text-align: center;
        padding: 100px;
    }
    .superspalter {
        display: flex;
        margin: 2% 0;
    }
    .superspalter > * {
        flex-basis: 0;
        flex-grow: 1;
    }
    .gap1 {
        gap: 1rem;
    }
    .gap2 {
        gap: 2rem;
    }
    .flex {
/*        display: flex;*/
    }
    .superspalter {
        background: rgba(249, 245, 233, 1.00);
        border-radius: 10px;
        margin-bottom: 5%;
        padding: 20px 12px;
        box-sizing: border-box;
        transition: 0.5s;
    }
    .superspalter:hover {
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    }
    .mar2 {
        margin: 2%;
    }
    .more-button {
        display: inline-block;
        text-decoration: none;
        margin-top: 10px;
        padding: 10px 15px;
        font-size: 16px;
        cursor: pointer;
        background-color: rgba(199, 103, 105, 1.00);
        color: white;
        border: none;
        border-radius: 5px;
    }
    .more-button:hover {
        background-color: rgba(140, 13, 15, 1.00);
    }
    .spalten4 {
        column-count: 4;
        column-width: 200px;
        column-rule: 5px double rgba(41, 60, 87, 1.00);
        column-gap: 5rem;
    }
    h3::after {
        content: "";
        background: rgba(78, 5, 6, 1.00);
        width: 6rem;
        height: 0.4rem;
        display: block;
        margin: 0.5rem 0 1rem;
    }
    body {
        line-height: 1.5;
        font-family: 'Poppins', sans-serif;
    }
    .container {
        padding: 2%;
    }
    .footer {
        background-color: #24262b;
        padding: 70px 0;
    }
    .footer ul {
        list-style: none;
    }
    .footer-col {
        padding: 1rem 15px;
    }
    .footer-col h2 {
        font-size: 18px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }
    .footer-col h2::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: #e91e63;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }
    .footer-col ul li:not(:last-child) {
        margin-bottom: 10px;
    }
    .footer-col ul li a {
        font-size: 16px;
        text-transform: capitalize;
        text-decoration: none;
        color: #bbbbbb;
        transition: all 0.3s ease;
    }
    .footer-col ul li a:hover {
        color: #ffffff;
        padding-left: 8px;
    }
    /*resp.*/
    .bg_grau {
        background: #f2f2f2;
    }
    .pad50 {
        padding: 5% 0;
    }
    .pad002 {
        padding-bottom: 2%;
    }
    .center {
        color: rgba(130, 9, 20, 1.00);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .umfliessen {
/*
        float: left;
        width: 45%;
*/
/*        margin: 4px 1rem 0.5rem 0;*/
        border-radius: 8px;
    }
    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }
    .blog_cont {
        border-bottom: 1px solid #aaa;
        padding: 1rem
    }
    /* Anpassung slippry-slider ---------------------*/
    .sy-pager li.sy-active a {
        background-color: #f44336;
    }
    /* ----------- location -----------*/
    .location {
        max-width: 750px;
        margin: 50px auto;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .location iframe {
        width: 100%;
    }
    /* ----------------formular ------------------- */
    .container-form {
        max-width: 400px;
        margin: 50px auto;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
        color: #333;
    }
    input[type="text"], input[type="email"], input[type="tel"], select {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    input[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #e91e63;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    input[type="submit"]:hover {
        background-color: rgba(110, 4, 6, 1.00);
    }
    /* ---- contact info------*/
    .contact-info {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        width: 300px;
    }
    .contact-info p {
        font-size: 16px;
        color: #333;
        margin-bottom: 10px;
    }
    .contact-info a {
        color: #007bff;
        text-decoration: none;
    }
    .contact-info a:hover {
        text-decoration: underline;
    }
    .center {
        text-align: center;
    }
    .fa-video {
        margin-left: auto;
        margin-right: auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        width: 600px;
    }
    .pad52 {
        padding: 5% 2%
/*
        margin-left: auto;
        margin-right: auto;
        padding-top: 1px;
        padding-bottom: 422px;
        max-height: 350px;
        max-width: 350px;
*/
    }
}
/* desktop ab 1200px -----------------------------------------------*/
@media (min-width: 1201px) {
    html {
        font: 1.1rem OpenSans, sans-serif;
        font-variation-settings: 'wght'300, 'wdth'95;
        scroll-behavior: smooth;
    }
    h1, h2, h3 {
        font-size: 2rem;
        font-variation-settings: 'wght'721, 'wdth'95; /* {}  ||  []  @ */
    }
    h1 {
        font-size: 3rem;
    }
    p {
        color: #777;
        line-height: 1.5rem;
    }
    .header {
        min-height: 70vh;
        width: auto;
        background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("../img/1.png");
        background-position: center;
        background-size: cover;
        position: relative;
    }
    .unterseite .header {
        min-height: 400px;
    }
    nav {
        display: flex;
        padding: 2% 6%;
        justify-content: space-between;
        align-items: center;
    }
    .nav-links {
        flex: 1;
        text-align: right;
    }
    .nav-links ul li {
        list-style: none;
        display: inline-block;
        padding: 8px 12px;
        position: relative;
    }
    .nav-links ul li a {
        color: white;
        text-decoration: none;
        font-size: 15px;
    }
    .nav-links ul li::after {
        content: '';
        width: 0%;
        height: 2px;
        background: #f44336;
        display: block;
        margin: auto;
        transition: 0.5s;
    }
    .nav-links ul li:hover::after {
        width: 100%;
    }
    main > section {
        padding: 5% 2%;
    }
    #footer {
        background: rgba(41, 60, 87, 1.00);
        text-align: center;
        padding: 2%;
    }
    #footer p {
        color: #fff;
    }
    .text-box {
        width: 90%;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -40%);
        text-align: center;
    }
    .text-box h1 {
        font-size: 62px;
    }
    .text-box p {
        margin: 10px 0 40px;
        font-size: 14px;
        color: #fff;
    }
    .hero-btn {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        border: 1px solid #fff;
        padding: 12px 34px;
        font-size: 13px;
        background: transparent;
        position: relative;
        cursor: pointer;
    }
    .hero-btn:hover {
        border: 1px solid #f44336;
        background: #f44336;
        transition: 1s;
    }
    nav.fa {
        display: none;
    }
    .superspalter gap2 {
        width: 80%;
        margin: auto;
        text-align: center;
        padding: 100px;
    }
    .superspalter {
        display: flex;
        margin: 2% 0;
    }
    .superspalter > * {
        flex-basis: 0;
        flex-grow: 1;
    }
    .gap1 {
        gap: 1rem;
    }
    .gap2 {
        gap: 2rem;
    }
    .flex {
        display: flex;
    }
    .superspalter {
        flex: 1 0 0;
        background: rgba(249, 245, 233, 1.00);
        border-radius: 10px;
        margin-bottom: 5%;
        padding: 20px 12px;
        box-sizing: border-box;
        transition: 0.5s;
    }
    .superspalter:hover {
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    }
    .mar2 {
        margin: 2%;
    }
    .more-button {
        display: inline-block;
        text-decoration: none;
        margin-top: 10px;
        padding: 10px 15px;
        font-size: 16px;
        cursor: pointer;
        background-color: rgba(199, 103, 105, 1.00);
        color: white;
        border: none;
        border-radius: 5px;
    }
    .more-button:hover {
        background-color: rgba(140, 13, 15, 1.00);
    }
    .spalten4 {
        column-count: 4;
        column-width: 200px;
        column-rule: 5px double rgba(41, 60, 87, 1.00);
        column-gap: 5rem;
    }
    h3::after {
        content: "";
        background: rgba(78, 5, 6, 1.00);
        width: 6rem;
        height: 0.4rem;
        display: block;
        margin: 0.5rem 0 1rem;
    }
    body {
        line-height: 1.5;
        font-family: 'Poppins', sans-serif;
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .container {
        max-width: 1170px;
        margin: auto;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    .footer {
        background-color: #24262b;
        padding: 70px 0;
    }
    .footer ul {
        list-style: none;
    }
    .footer-col {
        width: 25%;
        padding: 0 15px;
    }
    .footer-col h2 {
        font-size: 18px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }
    .footer-col h2::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: #e91e63;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }
    .footer-col ul li:not(:last-child) {
        margin-bottom: 10px;
    }
    .footer-col ul li a {
        font-size: 16px;
        text-transform: capitalize;
        text-decoration: none;
        color: #bbbbbb;
        transition: all 0.3s ease;
    }
    .footer-col ul li a:hover {
        color: #ffffff;
        padding-left: 8px;
    }
    /*resp.*/
    .bg_grau {
        background: #f2f2f2;
    }
    .pad50 {
        padding: 5% 0;
    }
    .pad002 {
        padding-bottom: 2%;
    }
    .center {
        color: rgba(130, 9, 20, 1.00);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .umfliessen {
        float: left;
        width: 45%;
        margin: 4px 1rem 0.5rem 0;
        border-radius: 8px;
    }
    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }
    .blog_cont {
        border-bottom: 1px solid #aaa;
    }
    /* Anpassung slippry-slider ---------------------*/
    .sy-pager li.sy-active a {
        background-color: #f44336;
    }
    /* ----------- location -----------*/
    .location {
        max-width: 750px;
        margin: 50px auto;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    /* ----------------formular ------------------- */
    .container-form {
        max-width: 400px;
        margin: 50px auto;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
        color: #333;
    }
    input[type="text"], input[type="email"], input[type="tel"], select {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    input[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #e91e63;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    input[type="submit"]:hover {
        background-color: rgba(110, 4, 6, 1.00);
    }
    /* ---- contact info------*/
    .contact-info {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        width: 300px;
    }
    .contact-info p {
        font-size: 16px;
        color: #333;
        margin-bottom: 10px;
    }
    .contact-info a {
        color: #007bff;
        text-decoration: none;
    }
    .contact-info a:hover {
        text-decoration: underline;
    }
    .center {
        text-align: center;
    }
    .fa-video {
        margin-left: auto;
        margin-right: auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        width: 600px;
    }
    .pad52 {
        padding: 5% 2%
/*
        margin-left: auto;
        margin-right: auto;
        padding-top: 1px;
        padding-bottom: 422px;
        max-height: 350px;
        max-width: 350px;
*/
    }
    .wrapper700 {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
}





@media(max-width: 700px) {
    .text-box h1 {
        font-size: 2rem;
    }
}